* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #158f8f;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  display: block;
}

/** header */
.heading {
  font-family: 'Amiri', serif;
  font-family: 'Roboto Mono', monospace;
  margin: 35px auto 20px;
  font-weight: 900;
  display: block;
  text-align: center !important;
  font-size: 5.5rem;
  line-height: 1.2;
}

hr {
  border-top: 2px solid white;
  width: 55%;
  margin-bottom: 55px;
}

/** container **/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/** main **/
.main {
  width: 50vw;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #159999;
  color: white;
}

/** form **/
.form-group {
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  height: 2.5rem;
  padding: 0.375rem 0.75rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #595057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

button,
input {
  overflow: visible;
  /* x-axis , y-axis are visible */
}

/** grid style **/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-sm-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1rem !important;
}

.input-group-prepend {
  margin-right: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group > .input-group-prepend > .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  text-align: center;
  white-space: nowrap;
}

.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; */
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.text-center {
  text-align: center !important;
}

/** buttons **/
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  width: 200px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  background-color: #0070ff;
  border-color: #0070ff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

.btn:hover,
.btnrest:hover {
  background-color: #00920f;
  border-color: #00920f;
}

.btnrest:hover {
  background-color: #ff020f;
  border-color: #ff020f;
}

.m-2 {
  margin: 0.5rem !important;
}

select {
  text-transform: none;
}

div#final-amount {
  font-family: 'Lobster', cursive;
  display: none;
  margin: 50px sauto;
}

div#final-amount h2 {
  font-size: 3em;
  margin-top: 0.6em;
  font-family: 'Roboto Mono', monospace;
}

.h2,
h2 {
  font-size: 2rem;
}

.final-value {
  font-family: 'Roboto Mono', monospace;
}

/** queries **/
@media (max-width: 768px) {
  hr {
    width: 60%;
  }
  .main {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 60px;
  }
  hr {
    width: 75%;
  }
  #final-amount h2,
  .final-value {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */
