#app {
  .container-nav {
    background: #110b0b;
    @media (max-width: 768px) {
      padding: 15px 20px;
    }
    .logo {
      color: #fff;
      .lo-go {
        color: theme-colors(secondary);
      }
    }
    .links {
      display: flex;
      color: #fff;
      gap: 10px;
      position: relative;
      padding-left: 0;
      overflow: hidden;
      .nav-item {
        padding: 10px;
        border: 1px solid transparent;
        transition: 0.3s;
        border-radius: 3px;
        a {
          color: #fff;
          &:hover {
            // color: theme-colors(secondary);
          }
        }
        &:hover {
          border: 1px solid #fff;
          color: theme-colors(c-white);
          background-color: theme-colors(c-purple);
        }
      }
      li.active {
        a {
          color: theme-colors(secondary);
        }
      }
      @media (max-width: 768px) {
        display: none;
      }
      &.open {
        position: relative;
        @media (max-width: 768px) {
          display: block;
          background-color: #110b0b;
          padding: 20;
          position: absolute;
          right: 0px;
          top: 34px;
          border-radius: 4px;
          width: calc(100% - 2px);
          transition: 0.3s;
          border: 1px solid #ddd;
          z-index: 111;
        }
      }
      &.open li a {
        @media (max-width: 768px) {
          color: rgb(255, 255, 255);
          font-weight: bold;
          &:hover {
            color: theme-colors(c-white);
            // background-color: theme-colors(c-purple);
          }
        }
      }
    }
    .toggle-menu {
      position: relative;
      display: none;
      border: none;
      background: none;
      width: 40px;
      cursor: pointer;
      // margin-top: 1.5em;
      span {
        display: block;
        background: #fff;
        height: 3px;
        margin-bottom: 4px;
      }
      @media (max-width: 768px) {
        display: block;
      }
      &.menu-active::after {
        content: '';
        border-width: 10px;
        position: absolute;
        border-width: 10px;
        border-style: solid;
        bottom: -11px;
        left: 9px;
        border-color: transparent transparent #fff transparent;
      }
    }
  }
}
