/*
colors
*/
$primary: #326dee;
$secondary: #5bc0f8;
$tertiary: #efbb38;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  c-blue: #1e1ee1,
  c-red: #f10505,
  c-yellow: #ebd424,
  c-green: #38b68a,
  c-orange: #ffc943,
  c-purple: #e114a6,
  c-gray: #8c8888,
  c-gray2: #607d8b,
  c-black: #080808,
  c-white: #ffffff,
  c-of-white:#e9e8e8

);

@function theme-colors($key) {
  @return map-get($theme-colors, $key);
}
