
.container-weth{
    margin: 30px auto 0;
    background-color: #f6f6f6;
    box-shadow: -1px -1px 8px #5bc0f8;
    // height: 308px;
    padding: 20px;
        width: 500px;
@media (max-width:576px) {
    width: 320px;
}
@media (max-width: 991px) {
    max-width: 100%;
  }
    #weather{
        margin: 10px auto; 
        h3{
            width: 200px;
            margin: 1px auto;
            text-align: center;
            padding: 10px;
            border: 1px solid #009688;
        }
        form{
            gap: 10px;
            input[type="text"]{
                padding: 7px;
                border: 1px solid #ddd;
                border-radius: 5px;   
                width: 100%;

            }
            input[type="submit"]{
                padding: 7px;
                border: 1px solid #ddd;
                border-radius: 5px;   
            }
        }
    }
    
    .result{
        .t{
            padding: 30px;
        }
        margin: 10px auto;
        background-color: #5bc0f8;
        gap: 5px;
        text-align: center;
        flex-direction: column;
       p{
     margin: 0;
       }
       p:nth-of-type(1){
        font-size: 20px;
       }
       p:nth-of-type(1){
        font-size: 20px;
       }
       p:nth-of-type(3){
        font-size: 40px;
        font-weight: bold;
       }
    }
    
}
