@import 'normalize';
@import 'variables';
@import 'framework';
@import 'nav';
@import 'todo';
@import 'weather';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap');

body {
  // background-image: linear-gradient(to bottom right, #4caf50, #03a9f4);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: theme-colors( c-of-white);

}

footer {
  text-align: center;
  color: #656161;
  margin-top: 100px;
}

// change background color
// change font style
